* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  padding: 10px;
}

section {
  margin-bottom: 10px
}
.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.flex-end {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.SingleProperty {
  background-color: aquamarine;
  padding: 5px;
  margin: 5px;
}

/* from app.css */
.link {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(22, 26, 26, 0.822);
  color: rgba(231, 227, 227, 0.959);
  border-radius: 5px;
}

.link:hover {
  background-color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  align-items: center;
}

.property-items {
  padding: 5px;
}

.property-items p {
  margin-bottom: 5px;
}