* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#root {
  min-width: 600px;
  max-width: 900px;
  margin: auto;
}
body {
  padding: 10px;
}

section {
  margin-bottom: 10px
}
.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.flex-end {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.SingleProperty {
  background-color: aquamarine;
  padding: 5px;
  margin: 5px;
}

/* from app.css */
.link {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(22, 26, 26, 0.822);
  color: rgba(231, 227, 227, 0.959);
  border-radius: 5px;
}

.link:hover {
  background-color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  align-items: center;
}

.property-items {
  padding: 5px;
}

.property-items p {
  margin-bottom: 5px;
}

/* MODALS */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.modal-images {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;

}

.modal-image {
  width: 100%;
  height: 100%;
  max-width: 300px;
}